.container {
  overflow: hidden;
  float: left;
}

.background_image_position {
    position: absolute; top: 40%; left: 30%;
    color: white;
    fontFamily: AvenirNext-Bold;
}

.background_welcome_image {
    width: 70%;
}



@media (max-width:1000px) {
  .background_image_position {
      position: absolute; top: 40%; left: 30%;
      color: white;
      fontFamily: AvenirNext-Bold;
      width: 50%;
  }

}

.background_second_menu {
  width:100%;
  height:70px;
  background:#5a94db;
  float:left;
}



.background_menutext_utbildning {
  float: left;
  font-family: 'AvenirNext-regular';
  font-size: 20px;
  color:white;
  margin-left: 302px;
}

.background_menutext_bobygga {
  float: left;
  font-family: 'AvenirNext-regular';
  font-size: 20px;
  color:white;
  margin-left: 47px;
}

.background_menutext_omsorg {
  float: left;
  font-family: 'AvenirNext-regular';
  font-size: 20px;
  color:white;
  margin-left: 48px;
}

.background_menutext_uppleva {
  float: left;
  font-family: 'AvenirNext-regular';
  font-size: 20px;
  color:white;
  margin-left: 45px;
}

.background_menutext_naringsliv {
  float: left;
  font-family: 'AvenirNext-regular';
  font-size: 20px;
  color:white;
  margin-left: 45px;
}
