.container {
  overflow: hidden;
  float: left;
}

.background_image_position {
    position: absolute; top: 40%; left: 30%;
    color: white;
    fontFamily: AvenirNext-Bold;
}

.background_welcome_image {
    width: 70%;
}

.background_test {
  height:500px;
  background-color: blue;
}


@media (max-width:1000px) {
  .background_image_position {
      position: absolute; top: 40%; left: 30%;
      color: white;
      fontFamily: AvenirNext-Bold;
      width: 50%;
  }

}
